<table class="table table-striped">
  <thead>
    <tr>
      <th>
        内容
      </th>
      <th>
        ステータス
      </th>
      <th>
        優先度
      </th>
      <th>
        終了期限
      </th>
    </tr>
  </thead>
  <tbody data-test="task_list_body">
    <%= render partial: 'task', collection: tasks %>
  </tbody>
</table>
